<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ fullName }} Resume</title>

<link rel="stylesheet" href="style.css">

</head>


<body>


<div class="resume">


<div class="top-tags">
    <div class="tag">RESUME</div>
    <div class="tag pink">{{ targetJobTitle }}</div>
</div>


<div class="header">


<div class="intro">

<h1>
{{ fullName.split(' ')[0] }}<br>
{{ fullName.split(' ')[1:] | join(' ') }}
</h1>


<div class="label">
ABOUT ME
</div>


<p>
{{ professionalSummary | safe }}
</p>


</div>



<div class="photo">

<img src="{{ profileURL }}">

</div>


</div>





<div class="content">


<div class="left">

{% if education %}
<div class="box">

<div class="label">
EDUCATION HISTORY
</div>


<div class="timeline">

{% for edu in education %}
<div class="item">

<strong>{{ edu.graduationTime }}</strong>

<h4>{{ edu.institution }}</h4>

<ul>
{% for detail in edu.details %}
<li>{{ detail }}</li>
{% endfor %}
</ul>

</div>
{% endfor %}

</div>


</div>
{% endif %}


{% if skillsAndTools %}
<div class="box">

<div class="label">
KEY SKILLS
</div>


<ul>
{% for skill_group in skillsAndTools %}
    {% for skill in skill_group.detailedSkillsOrTools %}
<li>{{ skill }}</li>
    {% endfor %}
{% endfor %}
</ul>


</div>
{% endif %}


</div>





<div class="right">

{% if experience %}
<div class="box">


<div class="label">
WORKING EXPERIENCE
</div>



<div class="timeline">

{% for exp in experience %}
<div class="item">

<h4>
{{ exp.orgNameOrType }}
<span>{{ exp.startTime }} - {{ exp.endTime }}</span>
</h4>


<ul>
<li>
{{ exp.highlightContribution }}
</li>
{% for contrib in exp.contributions %}
<li>{{ contrib }}</li>
{% endfor %}
</ul>

</div>
{% endfor %}


</div>



</div>
{% endif %}


</div>


</div>






<div class="footer">


<div class="bottom-message">
LET’S WORK AND CREATE TOGETHER!
</div>

{% for contact in contacts %}
<div class="contact">
{{ contact }}
</div>
{% endfor %}


</div>

<div class="location">
{{ location }}
</div>

</div>


</body>

</html>