<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>ATS Resume</title>
<link rel="stylesheet" href="style.css">
</head>

<body>

<div class="page">

<header>

<div class="header-left">

<h1>{{ fullName }}</h1>

<p>
{% for contact in contacts %}{{ contact }}{% if not loop.last %} | {% endif %}{% endfor %} | {{ location }}
</p>

</div>


<div class="logo">
LOGO
</div>

</header>

{% if professionalSummary %}
<section>
    <h2>PROFESSIONAL SUMMARY</h2>
    <p>{{ professionalSummary | safe }}</p>
</section>
{% endif %}

{% if education %}
<section>

<h2>EDUCATION</h2>

{% for edu in education %}
<div class="entry">

<div class="line">
<strong>
{{ edu.institution }}
</strong>

<span>
{{ edu.graduationTime }}
</span>

</div>


<div class="line">
<span>
{{ edu.degree }}
</span>

<span>
{{ edu.location }}
</span>

</div>


{% if edu.details %}
<p>
{% for detail in edu.details %}{{ detail }}{% if not loop.last %} &nbsp;&nbsp; {% endif %}{% endfor %}
</p>
{% endif %}

</div>
{% endfor %}

</section>
{% endif %}

{% if experience %}
<section>

<h2>WORK EXPERIENCE</h2>

{% for exp in experience %}
<div class="entry">


<div class="line">

<strong>
{{ exp.jobTitle }}
</strong>

<span>
{{ exp.startTime }} - {{ exp.endTime }}
</span>

</div>


<div class="line">

<span>
{{ exp.orgNameOrType }}
</span>

<span>
{{ exp.address }}
</span>

</div>


<ul>
{% if exp.highlightContribution %}
<li>{{ exp.highlightContribution }}</li>
{% endif %}
{% for contribution in exp.contributions %}
<li>{{ contribution }}</li>
{% endfor %}
</ul>


</div>
{% endfor %}

</section>
{% endif %}

{% if skillsAndTools %}
<section>

<h2>TECHNICAL SKILLS</h2>


<div class="skill-grid">

{% for skill_group in skillsAndTools %}
<div>
<ul>
{% for skill in skill_group.detailedSkillsOrTools %}
<li>{{ skill }}</li>
{% endfor %}
</ul>
</div>
{% endfor %}

</div>


</section>
{% endif %}


</div>


</body>

</html>