<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ fullName }} CV</title>

<link rel="stylesheet" href="style.css">

</head>


<body>


<div class="page">


<!-- LEFT SIDE -->

<aside class="sidebar">


<div class="profile-header">

<h1>
{{ fullName }}
</h1>

<h2>
{{ targetJobTitle }}
</h2>

</div>



<div class="contact-section">
{% for contact in contacts %}
<p>{{ contact }}</p>
{% endfor %}
</div>





<section class="side-section">

<h3>
Profile
</h3>


<p>
{{ professionalSummary | safe }}
</p>


</section>





{% if skillsAndTools %}
<section class="side-section">

<h3>
Skills
</h3>

{% for category in skillsAndTools %}
<ul>
{% for skill in category.detailedSkillsOrTools %}
<li>
{{ skill }}
</li>
{% endfor %}
</ul>
{% endfor %}

<div class="skill-scale">

0 Fundamental Awareness

<br>

5 Expert

</div>



</section>
{% endif %}





</aside>









<!-- RIGHT SIDE -->

<main class="content">





{% if experience %}
<section>

<h2 class="section-title">
Experience
</h2>



<div class="timeline">


{% for exp in experience %}
<div class="timeline-item">


<div class="time">

{{ exp.startTime }}
<br>
{{ exp.endTime }}

</div>



<div class="circle"></div>



<div class="description">


<h3>
{{ exp.jobTitle }} {{ exp.orgNameOrType }}, {{ exp.address }}
</h3>


<ul>
{% for contribution in exp.contributions %}
<li>
{{ contribution }}
</li>
{% endfor %}
</ul>



</div>


</div>
{% endfor %}



</div>


</section>
{% endif %}







{% if education %}
<section>


<h2 class="section-title">
Education
</h2>




<div class="timeline">



{% for edu in education %}
<div class="timeline-item">


<div class="time">

{{ edu.graduationTime }}

</div>



<div class="circle"></div>



<div class="description">


<h3>
{{ edu.institution }}
</h3>


<p>
{% for detail in edu.details %}
{{ detail }}<br>
{% endfor %}
</p>


</div>



</div>
{% endfor %}



</div>


</section>
{% endif %}





</main>


</div>


</body>

</html>