<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ fullName }} CV</title>

<link rel="stylesheet" href="style.css">

</head>


<body>


<div class="page">


<div class="left">


<!-- HEADER -->

<header>

<h1>
{{ fullName | upper }}
</h1>

<h2>
{{ targetJobTitle }}
</h2>


</header>





<!-- SUMMARY -->

{% if professionalSummary %}
<section class="section">

<h3>
S U M M A R Y
</h3>


<p>
{{ professionalSummary | safe }}
</p>


</section>
{% endif %}






<hr>





<!-- EXPERIENCE -->

{% if experience %}
<section class="section">


<h3>
E X P E R I E N C E
</h3>


{% for exp in experience %}
<div class="job">


<h4>
{{ exp.jobTitle | upper }}
</h4>


<span>
{{ exp.orgNameOrType }}
</span>


<strong>
{{ exp.startTime }} to {{ exp.endTime }}
</strong>


<ul>
{% for contribution in exp.contributions %}
<li>
{{ contribution }}
</li>
{% endfor %}
</ul>


</div>
{% endfor %}




</section>
{% endif %}




</div>













<!-- RIGHT COLUMN -->


<div class="right">



<div class="logo-circle">

<img src="logo.png" alt="Logo">

</div>





<!-- CONTACT -->


{% if contacts %}
<section class="side-section contact">

{% for contact in contacts %}
<div>
{{ contact }}
</div>
{% endfor %}

</section>
{% endif %}







<hr>






<!-- EDUCATION -->


{% if education %}
<section class="side-section">


<h3>
E D U C A T I O N
</h3>


{% for edu in education %}
<div class="education">


<b>
{{ edu.institution }}
</b>


<br>

{% for detail in edu.details %}
{{ detail }}
<br>
{% endfor %}

{{ edu.graduationTime }}


</div>
{% endfor %}



</section>
{% endif %}






<hr>






<!-- SKILLS -->


{% if skillsAndTools %}
<section class="side-section">


<h3>
S K I L L S
</h3>



<ul>
{% for group in skillsAndTools %}
{% for skill in group.detailedSkillsOrTools %}
<li>{{ skill }}</li>
{% endfor %}
{% endfor %}
</ul>



</section>
{% endif %}





</div>



</div>



</body>

</html>