<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harvard Resume Template</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

<div class="resume">

    <header>
        <h1>{{ fullName }}</h1>
        <p>
            {% for contact in contacts %}{{ contact }}{% if not loop.last %} • {% endif %}{% endfor %}
        </p>
    </header>

    {% if education %}
    <section>
        <h2>Education</h2>
        {% for edu in education %}
        <div class="entry">
            <div class="top-line">
                <strong>{{ edu.institution }}</strong>
                <span>{{ edu.location }}</span>
            </div>

            <div class="sub-line">
                {{ edu.details[0] }}
                <span>{{ edu.graduationTime }}</span>
            </div>

            {% for detail in edu.details[1:] %}
            <p>{{ detail }}</p>
            {% endfor %}
        </div>
        {% endfor %}
    </section>
    {% endif %}

    {% if experience %}
    <section>
        <h2>Experience</h2>
        {% for exp in experience %}
        <div class="entry">

            <div class="top-line">
                <strong>{{ exp.orgNameOrType }}</strong>
                <span>{{ exp.address }}</span>
            </div>

            <div class="sub-line">
                {{ exp.jobTitle }}
                <span>{{ exp.startTime }} – {{ exp.endTime }}</span>
            </div>

            {% if exp.contributions %}
            <ul>
                {% for contribution in exp.contributions %}
                <li>
                    {{ contribution }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}

        </div>
        {% endfor %}
    </section>
    {% endif %}

    {% if skillsAndTools %}
    <section>

        <h2>Skills & Interests</h2>
        {% for skill in skillsAndTools %}
        <p>
            <strong>{{ skill.typeOfSkillsOrTools }}:</strong>
            {{ skill.detailedSkillsOrTools | join(', ') }}
        </p>
        {% endfor %}

    </section>
    {% endif %}

</div>


</body>
</html>