*{
    box-sizing:border-box;
}


body{

    margin:0;
    background:white;
    font-family:Arial, Helvetica, sans-serif;
    color:#111;

}



.resume{

    width:210mm;
    min-height:297mm;
    margin:auto;
    padding:40px 55px;

}



header{

    text-align:center;
    margin-bottom:25px;

}



header h1{

    font-size:36px;
    letter-spacing:1px;
    margin:0;
    font-weight:900;

}



header h2{

    font-size:24px;
    margin:5px 0;
    font-weight:800;

}



header p{

    font-size:15px;
    margin-top:10px;

}




section{

    margin-bottom:20px;

}



h3{

    font-size:20px;
    font-weight:900;
    border-bottom:2px solid #222;
    padding-bottom:5px;
    margin-bottom:12px;

}



h4{

    font-size:17px;
    font-weight:800;
    font-style:italic;
    margin:12px 0 3px;

}



.date{

    font-style:italic;
    margin:0 0 8px;

}



p, li{

    font-size:14px;
    line-height:1.5;

}



ul{

    margin-top:5px;
    padding-left:20px;

}



@media print{

    body{
        background:white;
    }

    .resume{
        margin:0;
    }

}