<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ fullName }} CV</title>

<link rel="stylesheet" href="style.css">

</head>


<body>

<div class="page">


<!-- HEADER -->

<header class="header">

    <div class="profile-area">
        <img src="profile.jpg" alt="Profile" class="profile">
    </div>


    <div class="identity">

        <h1>
            {{ fullName }}
        </h1>

        <p class="role">
            {{ targetJobTitle }}
        </p>

    </div>


    <div class="contact-row">
        {% if contacts %}
            {% for contact in contacts %}
            <div class="contact-item">
                <span>{{ contact }}</span>
            </div>
            {% endfor %}
        {% endif %}
        
        <div class="contact-item">
            <span class="icon">◉</span>
            <span>{{ profileURL }}</span>
        </div>


        <div class="contact-item">
            <span class="icon">●</span>
            <span>
                {{ location }}
            </span>
        </div>


    </div>


</header>





<!-- BODY -->

<div class="body">


<!-- LEFT COLUMN -->

<aside class="sidebar">


<section>

<h2>ABOUT ME</h2>

<p>
{{ professionalSummary | safe }}
</p>

</section>




<section>

<h2>EDUCATION</h2>

{% for edu in education %}
<div class="edu">

<strong>
{{ edu.institution }}
</strong>

<br>

{% for detail in edu.details %}
{{ detail }}<br>
{% endfor %}

{{ edu.graduationTime }}

</div>
{% endfor %}

</section>





<section>

<h2>SKILLS</h2>

{% for skill_group in skillsAndTools %}
<h3>{{ skill_group.typeOfSkillsOrTools }}</h3>
<ul>
{% for skill in skill_group.detailedSkillsOrTools %}
<li>{{ skill }}</li>
{% endfor %}
</ul>
{% endfor %}

</section>


</aside>








<!-- RIGHT COLUMN -->

<main class="content">


<section>


<h2 class="dark-title">
WORK EXPERIENCE
</h2>


{% for exp in experience %}
<div class="experience">


<div class="year">
{{ exp.startTime }} - {{ exp.endTime }}
</div>


<h3>
{{ exp.jobTitle }}
</h3>


<strong>
{{ exp.orgNameOrType }} | {{ exp.address }}
</strong>


<p>
{{ exp.highlightContribution }}
<ul>
{% for item in exp.contributions %}
<li>{{ item }}</li>
{% endfor %}
</ul>
</p>


</div>
{% endfor %}

</section>

</main>


</div>


</div>


</body>
</html>